* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "SF Pro";
  src: url('fonts/SF-Pro-Display-Regular.otf') format('opentype');
}

body {
  font-family: "SF Pro", sans-serif;
  background: #f7f7f7;
}